<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto | SGE</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <nav>
        <div>
            <a href="index.html">SGE</a>
        </div>
    </nav>

    <main>
        <div class="wrapper">
            <section id="detalhes-produto">

                <header>
                    <h2 id="nome-produto">Novo Produto</h2>
                </header>

                <ul id="info-produto">
                    
                </ul>
                
                <div>
                    <a href="index.html">Voltar</a>
                </div>
            </section>
        </div>
    </main>

    <footer>
        © Todos os direitos reservados
    </footer>
    <script type="module" src="../../assets/js/produtos/visualizar.js"></script>
</body>
</html>